<header style="background-image: url({{@blog.cover}})" class="site-header {{#is 'paged'}}invisible{{/is}}">
    <div class="header-top">
        {{> nav}}
    </div>
    <div class="header-middle">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="header-middle-content">
                        <a href="{{@blog.url}}" class="site-title">{{@blog.title}}</a>
                        <h4 class="site-description">{{@blog.description}}</h4>
                        <nav class="site-social-navigation">
                            <ul>
                                <li><a href="https://github.com/KINGMJ" target="_blank"><i class="fa fa-github"></i></a></li>
                                <li><a href="http://weibo.com/jerrymei666" target="_blank"><i class="fa fa-weibo"></i></a></li>
                                <li><a href="mailto:328047478@qq.com"><i class="fa fa-envelope-o"></i></a></li>
                                <li><a href="{{@blog.url}}/rss/"><i class="fa fa-rss"></i></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="indicator">
        <i class="fa fa-angle-down"></i>
    </a>
</header>