<header style="background-image: url({{@blog.cover_image}})" class="site-header">
	<div class="header-top">
		{{navigation}}
	</div>
	<div class="header-middle">
		<div class="header-middle-content">
			<a href="{{@blog.url}}" class="site-title">{{@blog.title}}</a>
			<h4 class="site-description">{{@blog.description}}</h4>
			<nav class="site-social-navigation">
				<ul>
					{{> config/social-icon}}
				</ul>
			</nav>
		</div>
	</div>
	<a class="indicator">
		<i class="fa fa-angle-down"></i>
	</a>
</header>