<!doctype html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="description" content="{{meta_description}}">
	<title>{{meta_title}}</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{asset 'css/markdown.css'}}">
    <link rel="stylesheet" href="{{asset 'css/dataurl.css'}}">
    <link rel="stylesheet" href="{{asset 'css/style.css'}}">
	<!--<script src="https://use.fontawesome.com/d6e6a76e15.js"></script>-->
	{{ghost_head}}
</head>
<body class="{{body_class}}">
	{{{body}}}
	{{ghost_foot}}
	<script src="https://cdn.bootcss.com/jquery/3.2.0/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdn.bootcss.com/masonry/4.1.0/masonry.pkgd.min.js"></script>
	<script src="https://cdn.bootcss.com/pace/1.0.2/pace.min.js"></script>
    <script src="{{asset 'js/main.js'}}"></script>
    {{#is 'post'}}
        <script src="{{asset 'js/toc.js'}}"></script>
        <script src="{{asset 'js/post.js'}}"></script>
    {{/is}}
</body>

</html>