{{!< default}}

{{> header this}}
<div class="site-content">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				{{#foreach posts}}
					<article class="col-md-4 col-sm-6 post">
						<div class="post-card">
							<!--post封面-->
							<div class="post-cover">
								<a class="cover-image cover-transition" href="{{url}}" style="background-image: url({{image}})"></a>
							</div>
							<div class="post-info">
								<h3 class="post-title"><a href="{{url}}">{{title}}</a></h3>
								<p class="post-categories">
									{{excerpt characters="140"}}
								</p>
							</div>
						</div>

					</article>
				{{/foreach}}
				{{#if pagination}}
					{{pagination}}
				{{/if}}
			</div>
		</div>
	</div>
</div>

{{> footer this}}





