{{!< default}}
<header {{#if @site.cover_image}}style="background-image: url({{@site.cover_image}})" {{/if}} class="tag-header">
    <div class="tag-header-container">
        <div class="tag-nav">
            <a href="{{@site.url}}">首页</a>
        </div>
        <div class="tag-content">
            <h1 class="tag-title">文章分类</h1>
        </div>
    </div>
</header>
<div class="site-content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 d-flex flex-wrap flex-row justify-content-center align-items-start">
                {{#get "tags" include="count.posts"}}
                {{#foreach tags}}
                <a href="{{url}}" class="tag"
                    style="background-color: {{#if accent_color}}{{accent_color}}{{else}}#63a35c{{/if}};">
                    <span># {{name}}</span>
                    <span class="count">{{count.posts}}</span>
                </a>
                {{/foreach}}
                {{/get}}
            </div>

            <div class="col-md-8 tag-posts">
                {{#get "tags" include="count.posts"}}
                {{#foreach tags}}
                <span class="tag-title">{{name}}</span>
                {{#get "posts" filter="primary_tag:{{slug}}"}}
                {{#foreach posts}}
                <ul>
                    <li>
                        <a href="{{url}}">
                            <span class="title">{{title}}</span>
                        </a>
                    </li>
                </ul>
                {{/foreach}}
                {{/get}}
                {{/foreach}}
                {{/get}}
            </div>
        </div>
    </div>
</div>
{{> footer this}}
{{> copyright this}}