{{!< default}}
{{#post}}
	<header style="background-image: url({{#if feature_image}}{{feature_image}}{{else}}{{@blog.cover_image}}{{/if}})"
	        class="post-header">
		<div class="post-header-container">
			<div class="post-nav">
				<a href="{{@blog.url}}">HOME</a>
			</div>
			<div class="post-content">
				<h1 class="post-title">{{title}}</h1>
				<ul>
					<li><i class="fa fa-clock-o"></i>{{date format="YYYY年MM月DD日"}}</li>
					<li><i class="fa fa-user-o"></i>{{author.name}}</li>
					<li><i class="fa fa-eye"></i>{{reading_time}}</li>
				</ul>
				<p class="post-tags">{{tags separator=""}}</p>
			</div>
		</div>
	</header>
	<div class="site-content">
		<div class="article-wrapper">
			<div class="article-left">
				<article class="md-preview">
					{{content}}
				</article>
			</div>
			<nav class="navbar-side hidden">
				<div class="toc-wrapper">
					<a class="slide-toc-btn">
						<span>目录</span>
						<span></span>
					</a>
					<div id="toc"></div>
				</div>
			</nav>
		</div>
		<div class="post-footer">
			{{#author}}
				<div class="post-author">
					<figure class="author-image">
						<a href="{{url}}" style="background-image: url({{img_url profile_image}})"></a>
					</figure>
					<section class="author-info">
						<h4>
							<a href="{{url}}">{{name}}</a>
						</h4>
						<p>{{bio}}</p>
						<ul class="post-author-social">
							{{> custom/social-icon}}
						</ul>
						<div class="author-meta">
							<a href="{{website}}"><span><i class="fa fa-link"></i>{{website}}</span></a>
							<span><i class="fa fa-map-marker"></i>{{location}}</span>
						</div>
					</section>
				</div>
			{{/author}}
		</div>
		<a id="back_to_top" href="#"></a>
		<aside class="read-next">
			{{#next_post}}
				<a class="read-next-story {{#if
						feature_image}}" style="background-image: url({{feature_image}}){{else}}no-cover{{/if}}"
						href="{{url}}">
					<section class="post">
						<h2>{{title}}</h2>
						<p>{{excerpt words="19"}}&hellip;</p>
					</section>
				</a>
			{{/next_post}}
			{{#prev_post}}
				<a class="read-next-story prev {{#if
						feature_image}}" style="background-image: url({{feature_image}}){{else}}no-cover{{/if}}"
						href="{{url}}">
					<section class="post">
						<h2>{{title}}</h2>
						<p>{{excerpt words="19"}}&hellip;</p>
					</section>
				</a>
			{{/prev_post}}
		</aside>
	</div>
	{{> copyright}}
{{/post}}

<div id="show_image_layer" class="hidden"></div>
<div id="img_wrapper" class="hidden">
	<img src="" alt="">
</div>
