{{!< default}}
{{#post}}
	<header style="background-image: url({{#if feature_image}}{{feature_image}}{{else}}{{@site.cover_image}}{{/if}})"
	        class="post-header">
		<div class="post-header-container">
			<div class="post-nav">
				<a href="{{@site.url}}">HOME</a>
			</div>
			<div class="post-tags">{{tags separator=""}}</div>
		</div>
	</header>
	<div class="site-content">
		<div class="article-wrapper">
			<div class="article-left">
				<div class="article-content">
					<div class="post-title">{{title}}</div>
					<div class="post-author">
						<div class="author-avatar">
							<img src="{{img_url primary_author.profile_image}}" alt="">
						</div>
						<div class="author-content">
							<div class="author-name">{{primary_author.name}}</div>
							<div class="post-attr">
								<time>{{date format="YYYY年MM月DD日"}}</time>
								<span class="dotted">•</span>
								<span>{{reading_time}}</span>
							</div>
						</div>
					</div>
					<article class="md-preview">
						{{content}}
					</article>
				</div>
			</div>
			<nav class="navbar-side hidden">
				<div class="toc-wrapper">
					<a class="slide-toc-btn">
						<span>目录</span>
						<span></span>
					</a>
					<div id="toc"></div>
				</div>
			</nav>
		</div>
		<div class="post-footer">
			{{> post-author}}
			{{> prev-next}}
		</div>
		<a id="back_to_top" href="#"></a>
	</div>
	{{> footer}}
	{{> copyright}}
{{/post}}

<div id="show_image_layer" class="hidden"></div>
<div id="img_wrapper" class="hidden">
	<img src="" alt="">
</div>
