{{!< default}}
<header style="background-image: url({{#if tag.feature_image}}{{tag.feature_image }}{{else}}{{@site.cover_image}}{{/if}})"
        class="tag-header">
    <div class="tag-header-container">
        <div class="tag-nav">
            <a href="{{@site.url}}">首页</a>
        </div>
        <div class="tag-content">
            <h1 class="tag-title">{{tag.name}}</h1>
            {{#if tag.description}}
                <h2 class="tag-description">
                    {{tag.description}}
                </h2>
            {{/if}}
        </div>
        <div class="tag-post-num">
            <i class="fa fa-signal"></i><span>共 {{pagination.total}} 篇文章</span>
        </div>
    </div>

</header>
<div class="site-content">
    {{> loop}}
</div>
{{> footer}}
{{> copyright}}
